<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head th:replace="common/head::head"></head>
<body>
<div th:replace="common/header :: header"></div>
<div th:replace="common/menu::menu"></div>
<div class="section">
    <div class="content view-page-left">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span style="font-size: 24px" class="glyphicon glyphicon-open-file"></span>
                <span style="font-size: 24px">站点信息管理</span>
            </div>
            <div class="panel-body" id="window-body">
                <!--表格组件-->
                <div class="modal-content" id="mctn" style="overflow: auto !important;">
                    <form class="form-horizontal" id="addForm" action="/device/info/save" method="post" enctype="multipart/form-data">
                        <div class="modal-body col-md-12">
                            <div class="col-md-12">
                                <label class="col-lg-3 control-label require">站点名称:</label>
                                <div class="col-lg-8">
                                    <input type="hidden" class="form-control" name="id" th:value="${info.id}"/>
                                    <input type="text" class="form-control" name="name" th:value="${info.name}"/>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label class="col-lg-3 control-label require">站点型号:</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control" name="model" th:value="${info.model}"/>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label class="col-lg-3 control-label require">产权单位:</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control" name="company" th:value="${info.company}"/>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label class="col-lg-3 control-label require">承包商:</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control" name="contractor" th:value="${info.contractor}"/>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label class="col-lg-3 control-label require">站点资质1:</label>
                                <div class="col-lg-8">
                                    <img src="/images/fileUpload.png" th:src="${info.image1}" width="520" height="280" style="margin: 12px"/>
                                    <input type="file" class="form-control " name="file1"  style="display: none"/>
                                    <input type="hidden" class="form-control file" name="image1" th:value="${info.image1}"/>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label class="col-lg-3 control-label require">站点资质2:</label>
                                <div class="col-lg-8">
                                    <img src="/images/fileUpload.png" th:src="${info.image2}"  width="520" height="280" style="margin: 12px"/>
                                    <input type="file" class="form-control " name="file2"  style="display: none"/>
                                    <input type="hidden" class="form-control file" name="image2" th:value="${info.image2}"/>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label class="col-lg-3 control-label require">操作资格:</label>
                                <div class="col-lg-8">
                                    <img src="/images/fileUpload.png" th:src="${info.image3}"  width="520" height="280" style="margin: 12px"/>
                                    <input type="file" class="form-control " name="file3"  style="display: none"/>
                                    <input type="hidden" class="form-control file" name="image3" th:value="${info.image3}"/>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary confirm">修改</button>
                            <!--<button type="button" class="btn btn-default cancel" data-dismiss="modal">取消</button>-->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="device/info/form::saveModalForm" style="display: none;"></div>
<script th:src="@{/scripts/device/info-list.js}"></script>
<script>
    $(function () {
        $("#window-body #mctn").css({'height': $(window).height() - 155, 'overflow-y': 'auto'});
    });
</script>
</body>
</html>