<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="application/javascript" th:src="@{/scripts/plugins/jquery-2.1.1.min.js}"></script>
    <script type="application/javascript" th:src="@{/scripts/plugins/bootstrap.min.js}"></script>
    <script type="application/javascript" th:src="@{/scripts/plugins/jquery.tipsy.js}"></script>
    <script type="application/javascript" th:src="@{/scripts/plugins/bootstrapValidator.min.js}"></script>
    <script type="application/javascript" th:src="@{/scripts/plugins/bootstrap-datepicker.min.js}"></script>
    <script type="application/javascript" th:src="@{/scripts/plugins/Transfer.js}"></script>
    <script type="application/javascript" th:src="@{/scripts/menu.js}"></script>
    <script type="application/javascript" th:src="@{/scripts/header.js}"></script>
    <script type="application/javascript" th:src="@{/scripts/base.js}"></script>
    <script type="application/javascript" th:src="@{/scripts/TableCount.js}"></script>
    <script type="application/javascript" th:src="@{/scripts/tableList.js}"></script>
    <script type="application/javascript" th:src="@{/scripts/changeTable.js}"></script>
    <script type="application/javascript" th:src="@{/scripts/qs-transfer.js}"></script>
</head>
</html>