<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head th:replace="common/head::head"></head>
<body>
<div th:replace="common/header :: header"></div>
<div th:replace="common/menu::menu"></div>
<div class="section">
    <div class="content view-page-left">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span style="font-size: 24px" class="glyphicon glyphicon-open-file"></span>
                <span style="font-size: 24px">站点管理</span>
            </div>
            <div class="panel-body">
                <div class="input-group input-group-sm col-sm-6">
                    <input type="text" class="form-control search-border" name="code" id = "search" placeholder="输入编号或者地址搜索..."/>
                    <div class="input-group-btn" >
                        <button class="btn btn-primary" type="button" id="searchBtn" ><span class="glyphicon glyphicon-search"></span>&nbsp;搜索</button>
                        <button class="btn btn-primary addButton" type="button"><span class="glyphicon glyphicon-plus"></span>&nbsp;新建二维码</button>
                    </div>
                </div>
                <!--表格组件-->
                <div class="TableListComponent tableDiv">
                    <input type="hidden" th:value="${myHost.paramVal}" id="myHostName"/>
                    <table id="dictsTable" class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th type="seq"  style="width: 50px" >序号</th>
                                <!--<th name="id">主键</th>-->
                                <th name="deviceCode">站点编号</th>
                                <th name="qrCodeNo" fmt="codeToImg">二维码</th>
                                <th name="ipqcResult" fmt="fmtStatus">站点状态</th>
                                <th name="ipqcUser" fmt="ipqcName">负责人</th>
                                <th name="address">站点位置</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <td colspan="7">
                                    <nav th:replace="common/page::pageQsTable"></nav>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="device/form::saveModalForm" style="display: none;"></div>
<script th:src="@{/scripts/device/list.js}"></script>
</body>
</html>